

date:<h6 >{{date | date :'short'}}</h6>
<table class="table align-middle">
  <thead>
    <tr >
      <th scope="col" >Title</th>
      <th scope="col"> Image</th>
      <th scope="col">Price</th>
      <th scope="col">Quentity</th>
      <th scope="col">Count</th>
      <th scope="col">Buy</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prod of prodListOfCat" [ngStyle]="{'background-color':(prod.Quentity==1)?'lightyellow':'lightblue'}" [hidden]="prod.Quentity==0" >
      <th  >{{prod.Name}}</th>
      <td><img [src]="prod.Img" width="100" height="100"/></td>
      <td>{{prod.price | currency:'USD'}}</td>
      <td>{{prod.Quentity}}</td>
      <td><input type="number"  [(ngModel)]="prod.count" ></td>
      <td>
        <button type="button" class="btn btn-danger btn-sm px-3" data-ripple-color="dark" (click)="addToCard(this.prod)">
         Add To Card
        </button>
      </td>
      <td>
        <!-- <button type="button" class="btn btn-success btn-sm px-3" data-ripple-color="dark" (click)="showDetails(prod.Id)">  </button>-->
        <a class="btn btn-success" [routerLink]="['/products' ,prod.id]" role="button">Details</a>
       
      </td>
      <td>
        <a class="btn btn-success" [routerLink]="['/product/edit' ,prod.id]" role="button">edit</a>
      </td>
      <td>
        <a class="btn btn-danger" (click)="deletProduct(prod.id)" role="button">delete</a>
      </td>
    </tr>
  
  </tbody>
</table>



   